body{
  /* background-color: #343a40; */
  background-image: url(./img/2.jpg);
}

/* Fonts Size and Colors */

h1 {
  font-size: 60px;
  color: #f8f9fa;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f8f9fa;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: azure;
}

/* Other Divs and Things */

.nav{
  color: #f8f9fa;
}

.img{
  max-width: 500px;
  max-height: 300px;
}



.page-footer{
  background-color: gray;
}

